<ion-content [fullscreen]="true">
  <div class="content">
    <div class="image">
      <div class="back-to-route">
        <ion-icon name="arrow-back-outline" (click)="goBack()"></ion-icon>
      </div>
      <img [src]="cat.url" alt="cat" />
    </div>
    <ion-card class="card-details">
      <ion-card-header>
        <ion-card-title>{{cat.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <span class="title">Skills</span>

        <div class="container-habilities">
          <div class="card-list">
            <div class="card-list__box" *ngFor="let atr of skillsCat2">
              <div class="card-list-box__title">{{atr.key}}</div>
              <div class="card-list-box__record">{{atr.value}}</div>
            </div>
          </div>

          <div class="card-list">
            <div class="card-list__box" *ngFor="let atr of skillsCat1">
              <div class="card-list-box__title">{{atr.key}}</div>
              <div class="card-list-box__record">{{atr.value}}</div>
            </div>
          </div>
        </div>

        <div class="container-about">
          <p>{{cat.description}}</p>
        </div>

        <div class="container-button">
          <div class="container-button__love">
            <ion-icon name="heart"></ion-icon>
          </div>
          <div class="container-button__adopt">
            <ion-button>Adopt</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
